<div class="col-md-3 image">
  <% if face_id == pic.id %>
    <span class="face-flag">封面</span>
  <% end %>
  <div class="thumbnail">
	<%= image_tag pic.image.url(:small) %>
  </div>
  <div class="caption actions">
    <a href="/shops/<%= @shop.id %>/face" data-picid="<%= pic.id %>" class="btn btn-primary set-face" role="button">设为封面</a>
	<a href="/pictures/<%= pic.id %>" class="btn btn-primary del-pic" data-remote role="button">删除</a>
  </div>
</div>
