<div class="row">
  <div class="col-md-12">
    <ul class="shop-categories">
	  <li class="category-label">分类</li>
      <% @categories.each do |c| %>
		<li class="shop-category">
		<% if not @category.nil? and c.id == @category.id %>
		  <strong><%= link_to c.name, category_shops_path(c), class: "active" %></strong>
	    <% else %>
		  <%= link_to c.name, category_shops_path(c) %>
		<% end %>
		</li>
      <% end %>
    </ul>
  </div>
</div>
  
<div class="row">
  <div class="col-sm-12">
    <%= render @shops %>
  </div>
  
</div>
