<div class="row">
  <div class="shop-categories">
    <ul>
      <li class="category-label">分类</li>
      <% @categories.each do |c| %>
    	<li class="shop-category">
    	<% if not @category.nil? and c.id == @category.id %>
    	  <strong><%= link_to c.name, category_shops_path(c), class: "active" %></strong>
        <% else %>
    	  <%= link_to c.name, category_shops_path(c) %>
    	<% end %>
    	</li>
      <% end %>
    </ul>
  </div>
</div>
  
<div class="row">
  <%= render @shops %>
</div>

<%= will_paginate @shops, previous_label: "&laquo;", next_label: "&raquo;", renderer: BootstrapPagination::Rails %>
