<div class="row">
  <div class="col-md-12">
    <p class="shop-headbar"><%= link_to '返回', :back %></p>
  </div>
</div>

<%= render partial: "shop_detail", locals: {shop: @shop} %>

<%= render @shop.foods %>
