<div class="container check">
  <div class="row shops">
	<p class="col-md-12 head-title">待审核店铺: <span id="shop-count"><%= @shops.count %></span> 个</p>
	<%= render partial: "shops/shop_check", collection: @shops, as: :shop %>
  </div>

  <div class="row foods">
	<p class="col-md-12 head-title">待审核美食: <span id="food-count"><%= @foods.count %></span> 个</p>
	<%= render partial: "foods/food_check", collection: @foods, as: :food %>
  </div>
</div>
