<div class="container-fluid">
  <div class="row foot">
	<div class="col-md-12">
	  <ul>
	    <li>广告合作</li>
	    <li>联系我们</li>
	    <li>关于我们</li>
		<li><%= link_to '免责声明', post_path(1, show_as_article: true) %> </li>
	    <li>官方QQ群: 531603422</li>
	  </ul>
	</div>
	<div class="col-md-12 copy-right">
	  Copyright © 2016 美食文山 版权所有 powered by www.FoodWS.com
	</div>
  </div>
</div>
