
<div>
  placeholder ....
</div>

<div class="row">
  <%= render @foods %>
</div>

<%= will_paginate @foods, previous_label: "&laquo;", next_label: "&raquo;", renderer: BootstrapPagination::Rails %>

