
<div class="row">
  <div class="col-md-12">
    <p class="head-banner">placeholder ....</p>
  </div>
</div>

<div class="row">
  <%= render @foods %>
</div>

<%= will_paginate @foods, previous_label: "&laquo;", next_label: "&raquo;", renderer: BootstrapPagination::Rails %>

