<div class="article-list">
  <div class="article-list-info"><%= post.created_at.to_s(:db) %></div>
  <div class="article-list-title"><%= link_to post.title, post_path(post, show_as_article: true), 'data-no-turbolink' => true %></div>
</div>
