<% content_for :sidebar do %>
<div class="panel panel-default">
  <div class="panel-heading">发布帖子</div>
  <ul class="list-group">
    <li class="list-group-item">
      <%= link_to '发布帖子', new_post_path, class: "btn btn-danger" %>
	</li>
  </ul>
</div>

<div class="panel panel-default">
  <div class="panel-heading">社区信息</div>
  <ul class="list-group">
    <li class="list-group-item">社区人数: <span><%= User.count %> 人</span></li>
    <li class="list-group-item">帖子数: <span><%= Post.count %> 帖</span></li>
    <li class="list-group-item">回帖数: <span><%= Comment.count %> 条</span></li>
  </ul>
</div>

<div class="panel panel-default">
  <div class="panel-heading">友情链接</div>
  <ul class="list-group">
	<li class="list-group-item"><a href="#">文山美食</a></li>
	<li class="list-group-item"><a href="#">文山美食</a></li>
	<li class="list-group-item"><a href="#">文山美食</a></li>
  </ul>
</div>
<% end %>

