<% content_for :pathlink do %>
  <ol class="breadcrumb">
	<li><%= link_to "首页", root_path %></li>
    <li><%= link_to "社区", posts_path %></li>
    <li class="active">发布帖子</li>
  </ol>
<% end %>

<%= render 'sidebar' %>

<%= render 'form' %>
