/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 * require_self
 */


$color-primary: #333;
$color-secondary: #333;
$color-contrast: #FAFAD2;
$color-darkgrey: #c0c0c0;
$color-grey: #f5f5f5;
$color-lightgrey: #fafafa;
$color-white: #fff;
$color-darkblack: #212121;
$color-black: #303030;
$color-lightblack: #424242;

$color-emphasize: #F44336;
$green: #4CAF50;

// bootstrap variables
// base
$brand-primary: $color-primary;//#36ab55;//darken(#ff8bba, 10.5%); //link color
$brand-secondary: #36ab55;
$border-radius-base: 0px;
//$border-radius-large: 0px;
//$border-radius-small: 0px;
$text-color: $color-black;
$link-color: $brand-primary;
$grid-gutter-width: 30px;
//screen
$screen-sm-min: 768px;
$screen-md-min: 992px;
// navbar
$navbar-height: 50px;
$navbar-default-color: #222;
$navbar-default-bg: rgba(255,255,255,.9);
$navbar-default-border: transparent;
$navbar-margin-bottom: 10px;
//$nav-link-padding: 5px 30px 15px 15px;
$navbar-default-link-color: $link-color;
$navbar-default-link-hover-color: darken($brand-primary, 15%);
$navbar-default-link-active-color: $brand-primary;
$nav-link-hover-bg: lighten($brand-primary, 25%);
$nav-pills-active-link-hover-bg: lighten($link-color, 10%);
//$nav-pills-active-link-hover-color:
$nav-pills-border-radius: 3px;
$dropdown-link-color: $brand-primary;
//@dropdown-link-hover-color
//@dropdown-link-hover-bg: $brand-primary;
//@dropdown-link-active-bg
//@dropdown-link-active-color
//$navbar-default-link-active-bg: $brand-primary;
//$navbar-default-toggle-hover-bg
//$navbar-default-toggle-icon-bar-bg
//$navbar-default-toggle-border-color
//$container-large-desktop: (1000px + $grid-gutter-width);
//$container-md
$panel-default-heading-bg: $color-lightgrey;
$panel-default-border: $panel-default-heading-bg;
$panel-default-text: #999;//lighten($panel-default-heading-bg, 20%);
$list-group-border: $panel-default-border;
$list-group-active-bg: $panel-default-heading-bg;
$list-group-active-border: darken($list-group-border, 8%);
$list-group-active-color: $color-lightgrey;
$list-group-active-text-color: $color-grey;
$breadcrumb-bg: transparent;
$breadcrumb-active-color: $color-darkgrey;
$pagination-active-bg: $panel-default-border;
$pagination-hover-bg: $pagination-active-bg;
$pagination-active-color: $brand-primary;
$pagination-active-border: #ddd;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "simditor";
@import "owl.carousel";
@import "animate.min";


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($h, $v, $b, $s, $color) {
  -webkit-box-shadow: $h $v $b $s $color;
     -moz-box-shadow: $h $v $b $s $color;
      -ms-box-shadow: $h $v $b $s $color;
          box-shadow: $h $v $b $s $color;
}

@mixin transition($attr, $dur) {
	transition: $attr $dur;
	-webkit-transition: $attr $dur;
	-moz-transition: $attr $dur;
	-ms-transition: $attr $dur;
	-o-transition: $attr $dur;
}

@import "posts";
@import "shops";
@import "foods";
@import "remarks";
@import "shop_remarks";
@import "food_remarks";
@import "portal_page";
@import "admin/manage";
@import "carousel";

body {
	font-family: 'Microsoft YaHei','微软雅黑';
	padding-top: 103px;
	background-color: #f5f5f5;
}

.hold-bar {
	height: 30px;
}

.goback {
	padding: 20px 0;
}

.area-title {
	color: $brand-primary;
	margin-bottom: 10px;
	font-size: 1.2em;
}

.fixed-top {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 999;
}

.headline {
	height: 20px;
	color: #ccc;
	background-color: $navbar-default-bg;
	a, p {
		padding-right: 15px;
	}
}

.navbar {
	font-size: 1.2em;
	margin-bottom: 0px;
	.login {
		font-size: 0.833em;
	}
	border-bottom: 1px solid darken($navbar-default-bg, 8%);
	.nav a {
		border-bottom: 3px solid rgba(33,33,33,0);
		&:hover {
			border-color: $brand-primary;
		}
	}
}

.panel {
	@include border-radius(3px);
	//@include box-shadow(0, 3px, 3px, -3px, #ccc); 
	@include box-shadow(0, 0, 2px, 0, darken($color-grey,20%)); 
}

.logo {
	overflow: hidden;
	height: 50px;
	font-size: 1.5em;
	font-weight: bold;
	color: #fa9 !important;
	text-shadow: 2px 2px 5px #eee;
	img {
		height: 70px;
		width: auto;
		margin-top: -10px;
	}
}

.simditor {
	overflow: hidden;
	border-color: $panel-default-border !important;
	//@include box-shadow(0, 3px, 3px, -3px, #ccc); 
	@include box-shadow(0, 0, 2px, 0, #ccc); 
	img {
		max-width: 100% !important;
	}
	.uploading, .loading {
		max-width: 100% !important;
		height: auto;
	}
	.simditor-toolbar {
		border-color: $panel-default-border !important;
	}
}

.new_comment .simditor {
	height: 200px !important;
}


.avatar {
	@include border-radius(4px);
}

.separate-line {
	border-top: 1px solid darken($color-grey,10%);
	text-align: center;
	margin-top: 3em;
	margin-bottom: 1em;
	span {
		position: relative;
		font-size: 2em;
		top: -0.5em;
		color: lighten($brand-secondary,30%);
	}
}

.foot {
	margin-top: 50px;
	min-height: 100px;
	background-color: #333;
	color: #777;
	text-align: center;
	font-size: .8em;
	a { color: #777; }
	ul {
		margin: 20px 0;
		list-style: none;
		padding: 0;
		li {
			display: inline;
			padding: 0 10px;
		}
	}
	.copy-right {
		padding: 20px 0;
	}
}


@media (max-width: $screen-md-min) {
	body {
		font-size: 25px;
	}
	.logo {
		img {
			height: 60px;
		}
	}
	.container {
		width: 100%;
	}
	.shop-flow, .headline {
		display: none;
	}
}


// start owl here
.shops .owl-carousel {
	position: relative;
	margin: 0;
	padding: 0;
	.owl-wrapper-outer {
		.owl-wrapper {
			.owl-item {
			}
		}
	}
	.owl-controls {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		text-align: center;
		.owl-pagination {
			position: relative;
			top: 0; // 设置page按钮的垂直坐标
			display: inline-block;
			.owl-page {
				margin: 0 5px;
				float: left;
				span {
					display: block;
					width: 10px;
					height: 10px;
					background-color: #fff;
					opacity: .5;
					@include border-radius(999px);
				}
				&.active span {
					background-color: $brand-primary;
				}
			}
		}

		.owl-buttons {
			position: absolute;
			width: 100%;
			top: 50%; // 设置button按钮的垂直坐标
			margin-top: -25px;
			.owl-prev, .owl-next {
				width: 30px;
				height: 50px;
				line-height: 50px;
				background-color: rgba(33,33,33,.5);
				color: #fff;
				font-size: 1.5em;
				display: none;
			}
			.owl-prev {
				float: left;
			}
			.owl-next {
				float: right;
			}
		}
		&:hover .owl-buttons .owl-prev,
		&:hover .owl-buttons .owl-next {
			display: block;
		}
	}
}// end owl here


//以下是临时性CSS
.head-banner {
	height: 100px;
	margin-bottom: 30px;
	background-color: $color-grey;
}
