// Place all the styles related to the foods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.foods {
	.col-md-3, .col-md-4,
	.col-sm-3, .col-sm-4,
	.col-xs-3, .col-xs-4
	{
		margin-bottom: $grid-gutter-width/2;
	}

	// foods******************************************
	.food {
		position: relative;
		@include transition(all, 1s);
		&:hover {
			top: -10px;
		}
		@include box-shadow(0, 2px, 1px, 0, darken($color-grey,10%));
		background-color: $color-white;
		.picture {
			img {
				width: 100%;
			}
		}
		.info {
			padding: 10px;
			.name {
				color: $brand-secondary;
				font-weight: bold;
			}
			.description {
				height: 3em;
				overflow: hidden;
			}
			.discounted {
				text-decoration: line-through;
				color: $color-darkgrey;
				margin-right: 5px;
			}
		}
		.foot-info {
			text-align: center;
			font-size: .8em;
			padding: 10px 0 5px;
			color: $color-darkgrey;
			span {
				margin: 0 5px;
			}
		}

	}

}

.food-strip {
	.picture {
		img {
			width: 100%;
			height: 100%;
		}
	}
	.info {
		.name {
			color: $brand-secondary;
			height: 1.5em;
			overflow: hidden;
		}
		.stars {
			height: 1.5em;
			overflow: hidden;
			span {
				float: left;
			}
			.star { color: $color-emphasize; }
			.star-empty { color: $color-darkgrey }
		}
		.discounted {
			text-decoration: line-through;
			color: $color-darkgrey;
			margin-right: 5px;
		}
		.foot-info {
			font-size: .8em;
			color: $color-darkgrey;
			span { margin-right: 5px; }
			span + span { margin-left: 5px; }
		}

	}

}

.food-show {
	.food-info {
		background-color: #fff;
		@include box-shadow(0, 2px, 1px, 0, darken($color-grey,10%)); 
		padding: 15px;
		margin-bottom: 30px;
		.food-name {
			font-size: 1.2em;
			color: $brand-primary;
		}
		.star {
			color: $color-emphasize;
		}
		.star-empty {
			color: $color-grey;
		}
		.spec {
			margin-top: .5em;
			margin-bottom: 15px;
			.spec-name {
				color: $color-darkgrey;
				margin-right: 1em;
			}
			.item {
				margin-right: 1em;
			}
			.like {
				color: $color-darkgrey;
				&:hover {
					color: $brand-primary;
				}
			}
		}

		// shop-info **************************
		.shop-info {
			border-top: 1px solid $color-grey;
			padding: 15px 0;
			span {
				color: $color-darkgrey;
				margin-right: 1em;
				& + span {
					margin-left: 1em;
				}
			.relation {
				margin-top: .5em;
				}
			}
		}

		.food-picture {
			img {
				width: 100%;
				height: auto;
			}
		}

		.food-description {
			margin-top: 30px;
			.introduce {
				color: $brand-primary;
			}
		}

		.share {
			padding: 15px 0;
			span {
				color: $color-darkgrey;
			}
		}

	}

}
