// Place all the styles related to the foods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.foods {
	.area-title {
		color: $brand-primary;
		margin: 20px 0;
		font-size: 1.2em;
	}
	.col-md-3, .col-md-4,
	.col-sm-3, .col-sm-4,
	.col-xs-3, .col-xs-4
	{
		margin-bottom: $grid-gutter-width/2;
	}
	.food {
		position: relative;
		@include transition(all, 1s);
		&:hover {
			top: -10px;
		}
		@include box-shadow(0, 0, 5px, 0, #ccc); 
		background-color: #f2f2f2;
		.picture {
			img {
				width: 100%;
			}
		}
		.info {
			padding: 10px;
			.name {
				color: $brand-secondary;
				font-weight: bold;
			}
			.description {
				height: 3em;
				overflow: hidden;
			}
		}
		.foot-info {
			text-align: center;
			font-size: .8em;
			padding: 10px 0 5px;
			color: #999;
			span {
				margin: 0 5px;
			}
		}

	}

	.food-strip {
		margin: 0 -$grid-gutter-width/2;
		padding: 30px 0;
		.picture {
			img {
				width: 100%;
				height: 100%;
			}
		}
		.info {
			.name {
				color: $brand-secondary;
			}
			.description {
				height: 3em;
				overflow: hidden;
			}
			.foot-info {
				color: #999;
				span {
					margin-right: 10px;
				}
			}

		}

	}
}

.food-show {
	.food-picture {
		img {
			width: 100%;
		}
	}

	.food-info {
		li {
			padding: 5px 0;
			border-bottom: 1px solid #ddd;
			min-height: 2em;
		}
		.food-info-item {
			.item-name {
				color: lighten($text-color, 30%);
				display: block;
				width: 70px;
				float: left;
				.description {
					line-height: 1.5em;
				}
			}
		}
		.food-name {
			font-size: 1.1em;
			color: $brand-secondary;
		}
		.buttons {
			span {
				font-size: 1.2em;
				color: #f34;
				margin: 0 10px;
			}
		}

		margin: 0;
		padding: 15px;
		list-style: none;
		//border: 1px solid $gray-lighter;
		//@include border-radius(5px);
	}
}

