// Place all the styles related to the PortalPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.head-title {
	font-size: 1.2em !important;
	color: $brand-primary;
	margin-top: 30px;
	padding: 0 $grid-gutter-width/2;
}


.big-banner {
	margin-top: -30px;
	overflow: hidden;
	height: 300px;

	// ----------------------------------

	.banner {
		text-align: center;
		padding-top: 90px;
	}
	#banner1 {
		background-color: #EF6C00;
		#text1 {
			font-size: 4em;
			color: $color-white;
		}
		.sign-in {
			background-color: $brand-secondary;
			color: $color-white;
			margin: 30px auto;
			width: 200px;
			display: block;
		}
	}
	#banner2 {
		background-color: #8BC34A;
		#text2 {
			font-size: 4em;
			color: $color-white;
		}
	}
	#banner3 {
		background-color: #FFEE58;
		#text3 {
			font-size: 4em;
			color: $color-white;
		}
	}
}
