// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts {
	.panel-body {
		img {
			max-width: 100% !important;
			height: auto;
		}
	}
	.list-group-item {
		padding-top: 1em;
		padding-bottom: 1em;
	}
	.post-list-head {
		margin: 0;
		padding-bottom: 10px;
		a {
			//color: $text-color;
			font-size: 1.2em;
		}
		span {
			padding-left: 10px;
			color: #ccc;
		}
	}
	.post-list-info {
		margin: 0;
		font-size: .8em;
		color: $gray-lighter;
		.topic {
			@include border-radius(3px);
			display: inline-block;
			padding: 0 3px;
			background-color: lighten($gray-lighter, 20%);
			color: $link-color;//lighten($link-color, 10%);
		}
	}
	.post-show-title {
		color: $link-color;
		span {
			padding-left: 10px;
			color: #ccc;
		}
	}
	.comment-show-title, .post-show-info {
		@extend .post-list-info;
	}
	.replys-box {
		@include border-radius(4px);
		font-size: .8em;
		color: $gray-lighter;
		text-align: center;
		overflow: hidden;
		background-color: $list-group-active-bg;
		width: 50px;
		height: 50px;
		p {
			height: 20px;
			line-height: 20px;
			margin:0;
			padding: 0;
			&.number {
				height: 30px;
				color: $text-color;
			}
		}
	}
	.avatar {
		width: 50px;
		height: 50px;
	}

}


.article-list {
	.article-list-info {
		font-size: 0.9em;
		color: #ccc;
		margin-bottom: 3px;
	}
	.article-list-title {
		margin-bottom: 3px;
	}
}

.post-layout {
	//background: image-url("back.jpeg") no-repeat;
	//background-size: 100%;
	background-color: darken($gray-back, 5%);
	.posts a {
		color: #333;
	}
}

